#########################
# Terraform Node Config #
#########################

NODENAME = "node"
SUFFIX = "nd36"

aws_region = "us-west-1"

# To add - Selection of specific AZ's

#########################
# PostgresDB Parameters #
#########################

DB_USER  = "stellar" 
DB_PASS  = "defaultpassword" 
DB_NAME  = "core" 
DB_IDENTIFIER  = "stellar-core-db"



