{% set this_node = horizon.nodes|selectattr("name", "equalto", inventory_hostname)|first %}

version: "3"

services:
  horizon:
    image: kinecosystem/horizon:kinecosystem-v2.0.0-stellar-v9.2.0
    container_name: horizon
    network_mode: host  # listens on port 8000
    volumes:
      - ./volumes/horizon:/opt/horizon
    environment:
      DATABASE_URL: "postgres://{{this_node.db.user}}:{{this_node.db.password}}@{{this_node.db.host}}/{{this_node.db.name}}?sslmode={{this_node.db.ssl_mode|default('disable')}}"
      HORIZON_DB_MAX_OPEN_CONNECTIONS: "24"
      STELLAR_CORE_DATABASE_URL: "postgres://{{this_node.stellar_core.db.user}}:{{this_node.stellar_core.db.password}}@{{this_node.stellar_core.db.host}}/{{this_node.stellar_core.db.name}}?sslmode={{this_node.stellar_core.db.ssl_mode|default('disable')}}"
      STELLAR_CORE_URL: "{{this_node.stellar_core.url}}"
      LOG_LEVEL: "{{horizon.log_level|default('warn')}}"
      INGEST: "true"
      PER_HOUR_RATE_LIMIT: "10000000"
      HISTORY_RETENTION_COUNT: "900000"
      NETWORK_PASSPHRASE: "{{horizon.network.passphrase}}"
      FRIENDBOT_URL: '{{horizon.friendbot_url|default("")}}'
      CURSOR_NAME: "HORIZON" # must be all caps and unique across all horizons sharing the same core

    restart: always
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: "3"


{#
vi: ft=yaml.jinja2
#}
# vi: ft=yaml
