[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
"jinja2" = "*"
pyyaml = "*"
pyinvoke = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

[requires]
python_version = "3.7"
