provider "aws" {
  alias = "backend-us-east-1"

  access_key = "{{env_vars['AWS_ACCESS_KEY']}}"
  secret_key = "{{env_vars['AWS_SECRET_KEY']}}"
  region     = "{{stellar.nodes|map(attribute="region")|first}}"
}


{#
# vi: ft=terraform.jinja2
#}
