{# define one provider + create one ssh key per region #}
{%for region in stellar.nodes|map(attribute="region")|unique%}
provider "aws" {
  alias = "{{region}}"

  access_key = "{{env_vars['AWS_ACCESS_KEY']}}"
  secret_key = "{{env_vars['AWS_SECRET_KEY']}}"
  region     = "{{region}}"
}

# ssh key to create for accessing ec2 instances
resource "aws_key_pair" "{{region}}" {
  provider = "aws.{{region}}"

  key_name   = "stellar-{{stellar.network_name}}"
  public_key = "${file("{{stellar.ssh.public_key}}")}"
}
{%endfor%}


{#
# vi: ft=terraform.jinja2
#}
