{%for node in stellar.nodes%}

{%set module_name_suffix = '{}_{}'.format(stellar.network_name, node.zone)%}
{%set module_name = 'stellar_node_{}'.format(module_name_suffix)%}

module "{{module_name}}" {
  source = "modules/stellar-node"
  providers = {
    "aws" = "aws.{{node.region}}"
  }

  ssh_public_key_name= "${aws_key_pair.{{node.region}}.key_name}"

  stellar_network_name = "{{stellar.network_name}}"
  tld                  = "{{stellar.tld}}"
  zone                 = "{{node.zone}}"
  instance_type        = "{{stellar.instance_type}}"

  rds_password         = "{{env_vars['RDS_PASSWORD']}}"
}

output "route53_stellar_core_{{module_name_suffix}}" {
  description = "Route53 FQDN name assigned to the EC2 instance"
  value       = "${module.{{module_name}}.route53_stellar_core}"
}

output "s3_bucket_stellar_core_{{module_name_suffix}}" {
  description = "S3 bucket name"
  value       = "${module.{{module_name}}.s3_bucket_stellar_core}"
}

output "rds_stellar_core_{{module_name_suffix}}" {
  description = "RDS address"
  value       = "${module.{{module_name}}.rds_stellar_core}"
}

output "route53_horizon_{{module_name_suffix}}" {
  description = "Route53 FQDN name assigned to the EC2 instance"
  value       = "${module.{{module_name}}.route53_horizon}"
}

output "ec2_horizon_{{module_name_suffix}}" {
  description = "EC2 public DNS name"
  value       = "${module.{{module_name}}.ec2_horizon}"
}

output "rds_horizon_{{module_name_suffix}}" {
  description = "RDS address"
  value       = "${module.{{module_name}}.rds_horizon}"
}

{%endfor%}

{# define one provider + create one ssh key per region #}
{%for region in stellar.nodes|map(attribute="region")|unique%}
provider "aws" {
  alias = "{{region}}"

  access_key = "{{env_vars['AWS_ACCESS_KEY']}}"
  secret_key = "{{env_vars['AWS_SECRET_KEY']}}"
  region     = "{{region}}"
}

resource "aws_key_pair" "{{region}}" {
  provider = "aws.{{region}}"

  key_name   = "${local.ssh_public_key_name}"
  public_key = "{{env_vars['SSH_PUBLIC_KEY']}}"
}
{%endfor%}


locals {
  # ssh key to create for accessing ec2 instances
  ssh_public_key_name = "stellar-{{stellar.network_name}}"
}

{#
# vi: ft=terraform.jinja2
#}
