/images/stellar-core-1/opt/stellar-core/stellar-core.*.log
/images/stellar-core-2/opt/stellar-core/stellar-core.*.log
/images/stellar-core-1/opt/stellar-core/buckets/
/images/stellar-core-2/opt/stellar-core/buckets/
/images/stellar-core-1/tmp/stellar-core/
/images/stellar-core-2/tmp/stellar-core/
/images/friendbot/opt/friendbot/friendbot.cfg
