requests==2.22.0
aiohttp==3.5.4
boto3==1.9.188
botocore==1.12.188
Flask==1.1.1
flask_cors==3.0.8
invoke==1.2.0
Jinja2==2.10.1
jsonpath_rw==1.4.0
kin==1.7.1
kin_base==1.3.2
prometheus_client==0.7.1
typing==3.7.4
PyYAML==5.1.1
