[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stellar-base = "*"

[dev-packages]
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"

[requires]
python_version = "3.7"
