{% set this_node = horizon.nodes|selectattr("name", "equalto", inventory_hostname)|first %}
---
version: "3"

services:
  horizon-telegraf:
    image: kinecosystem/horizon-telegraf:v1.0.21
    container_name: horizon-telegraf
    environment:
      NODE_NAME: "{{stellar_core.network.name}}"
      NETWORK_NAME: fed
      TARGET_URL: "{{this_node.stellar_core.url}}/info"
      REGION_NAME: "{{this_node.aws_region}}"
    network_mode: host
    restart: always
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: "3"

  horizon-nginx-proxy:
    image: kinecosystem/horizon-nginx-statsd:v1.0.6
    container_name: horizon-nginx-proxy

    network_mode: host

    environment:
      STATSD_SAMPLE_RATE_PERCENT: 100
      NODE_NAME: {{horizon.network.name}}
      PROXY_LISTEN_PORT: 80
      PROXY_READ_TIMEOUT: 900
      # horizon listens on port 8000
      PROXY_PASS_URL: http://localhost:8000
      # Set host for Horizon's response links, leave as $$host for the links to show the original request host(localhost)
      HOST: "{{horizon.nginx_host}}"


    restart: always
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: "3"


{#
vi: ft=yaml.jinja2
#}
# vi: ft=yaml
