{% set this_node = horizon.nodes|selectattr("name", "equalto", inventory_hostname)|first %}

---
version: "3"

services:
  horizon-health-check:
    command: pipenv run gunicorn -b 0.0.0.0:8001 main:APP

    image: kinecosystem/horizon-health-check:v1.0.1
    container_name: horizon-health-check

    network_mode: host

    environment:
      BUILD_VERSION: a25eb1c
      REQUEST_TIMEOUT: 2
      CORE_INFO_URL: {{this_node.stellar_core.url}}/info
      HORIZON_INFO_URL: http://localhost:80/

    restart: always
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: "3"


{#
vi: ft=yaml.jinja2
#}
# vi: ft=yaml
