#!/bin/sh
result=$(curl stellar-core:11626/info|jq .'info.state'|tr -d \")

state=0
if [ "$result" = "Synced!" ]; then
   state=1
elif [ "$result" = "Catching up" ]; then
   state=2
elif [ "$result" = "Joining SCP" ]; then
   state=3
elif [ "$result" = "Connected" ]; then
   state=4
elif [ "$result" = "Stopping" ]; then
   state=5
elif [ "$result" = "Booting" ]; then
   state=6
fi
echo 'state, state='$state
